[Unit]
Description=RClone Service

[Service]
Type=notify
Environment=RCLONE_CONFIG=/homexx/yyyyy/.config/rclone/rclone.conf

ExecStart=/homexx/yyyyy/bin/rclone mount gdrive: /homexx/yyyyy/Mount \
  --allow-other \
  --fast-list \
  --drive-chunk-size 128M \
  --dir-cache-time 96h \
  --log-level INFO \
  --log-file /homexx/yyyyy/scripts/rclone.log \
  --timeout 1h \
  --umask 002 \
  --vfs-cache-mode writes
ExecStop=/bin/fusermount -uz /homexx/yyyyy/Mount
Restart=on-failure

[Install]
WantedBy=default.target
